.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
node_modules/
dist/
**/out
**/lib
**/src/generated
*.tsbuildinfo
*.vsix
.cursor/environment.json

# moon
.moon/cache
.moon/docker
.bun/cache

# cursor
.cursor/temp

packages/language/logs
